<!doctype html>
<html lang="en">
  <head>
  <title><%= title %></title>

<% include partials/head.ejs %>

  </head>

  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="bc-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

      <% include partials/topnav.ejs %>

      <% include partials/sidenavDefault.ejs %>

        <main class="mdl-layout__content mdl-color--grey-100">
         <div class="mdl-layout__tab-panel is-active" id="overview">
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col"><%= title %></h4>
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                  <div class="section__circle-container__circle mdl-color--primary"></div>
                </div>
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                  <h5><%= title %></h5>
          <form method="POST" action="">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="title" name="title" placeholder="Name of Book" value=''>
              <label class="mdl-textfield__label" for="title">Title</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <select class="mdl-textfield__input" placeholder="Select author" type="select" id="title" name="author" required="true">
                <% for(var author of authors){ %>
                    <option value=<%= author._id %> ><%= author.name %></option>
                <% } %>
              </select>
              <label class="mdl-textfield__label" for="author">Author</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="textarea" id="summary" name="summary" value='' required='true'>
              <label class="mdl-textfield__label" for="summary">Summary</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="isbn" name="isbn" value='' required='true'>
              <label class="mdl-textfield__label" for="isbn">ISBN</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
             <p>Category</p>
                <% for(var genre of genres){ %>
            <label class="fp-follow mdl-switch mdl-js-switch mdl-js-ripple-effect" for=<%= genre._id %>>
              <input name="genre" type="checkbox" id=<%= genre._id %> class="mdl-switch__input" value=<%= genre._id %>>
              <span class="mdl-switch__label"><%= genre.name %></span>
            </label>
                <% } %>
            </div>
            <button id="submit" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
              Submit
            </button>
          </form>
          </section>
            </div>

        </main>
    </div>

    <% include partials/scripts.ejs %>

  </body>
</html>
