<!doctype html>
<html lang="en">
  <head>
  <title><%= title %></title>

<% include partials/head.ejs %>

  </head>

  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="bc-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

      <% include partials/topnav.ejs %>

      <% include partials/sidenavDefault.ejs %>

        <main class="mdl-layout__content mdl-color--grey-100">
         <div class="mdl-layout__tab-panel is-active" id="overview">
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col"><%= title %></h4>
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                  <div class="section__circle-container__circle mdl-color--primary"></div>
                </div>
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                  <h5><%= title %></h5>
          <form method="POST" action="">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <select class="mdl-textfield__input" placeholder="Select book" type="select" name="book" required="true">
                <% for(var book of book_list){ %>
                  <% if(book!=0){ %>
                    <option selected=

                  <% if(selected_book==book._id){ %>
                    "selected"
                  <% }else{ %>
                    false
                  <% } %>

                      value=<%= book._id %> ><%= book.title %></option>
                    <% }else{ %>
                     <option value=<%= book._id %> ><%= book.title %></option>
                    <% } %>
                <% } %>
              </select>
              <label class="mdl-textfield__label" for="book">Book</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <select class="mdl-textfield__input" placeholder="Select status" type="select" name="status" required="true">
                    <option value="Maintenance" >Maintenance</option>
                    <option value="Available" >Available</option>
                    <option value="Loaned" >Loaned</option>
                    <option value="Reserved" >Reserved</option>
              </select>
              <label class="mdl-textfield__label" for="status">Status</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" placeholder="Publisher and date information" name="imprint" value=

              <% if(bookinstance==0){ %>
                 ""
              <% }else{ %>
                 <%= bookinstance.imprint %>
              <% } %>

               required='true'>
              <label class="mdl-textfield__label" for="imprint">Imprint</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <span>Date when book is available</span>
              <input class="mdl-textfield__input" value=

              <% if(bookinstance==0){ %>
                 ""
              <% }else{ %>
                 <%= bookinstance.due_back_yyyy_mm_dd %>
              <% } %>

               type="date" name="due_back">
            </div>
            <button id="submit" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
              Submit
            </button>
          </form>

  <% if(errors!=0){ %> 
    <ul>
      <% for(var error of errors){ %> 
        <li><%= error.msg %></li>
      <% } %>
    </ul>
  <% } %>

                </div>
              </div>
          </section>
            </div>

        </main>
    </div>

    <% include partials/scripts.ejs %>

  </body>
</html>
