<!doctype html>
<html lang="en">
  <head>
  <title><%= title %></title>

<% include partials/head.ejs %>

  </head>

  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="bc-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

      <% include partials/topnav.ejs %>

      <% include partials/sidenavDefault.ejs %>

        <main class="mdl-layout__content mdl-color--grey-100">
         <div class="mdl-layout__tab-panel is-active" id="overview">
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col"><%= title %></h4>
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                  <div class="section__circle-container__circle mdl-color--primary"></div>
                </div>
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                  <p>Do you really want to delete this BookInstance?</p>
                  <p><strong>ID: </strong><%= bookinstance._id %></p>
                  <h5>Title</h5>
                  <p><a href=<%= bookinstance.book.url %> ><%= bookinstance.book.title %></a></p>
                  <p><strong>Imprint: <%= bookinstance.imprint %></strong></p>
                  <p><strong>Status: 
                       <% if (bookinstance.status=="Available"){ %>
                         <span class="text-success"> <%= bookinstance.status %></span>
                       <% }else if(bookinstance.status=="Maintenance"){ %>
                         <span class="text-warning"><%= bookinstance.status %></span>
                       <% }else{ %>
                         <span class="text-danger"> <%= bookinstance.status %></span>
                       <% } %>
                  <% if (bookinstance.status!="Available"){ %>
                    <p><strong>Due back: <%= bookinstance.due_back_formatted %></strong></p>
                  <% } %>
                <div class="mdl-card__actions">
                  <form method="POST" action="">
                   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                     <input class="mdl-textfield__input" type="hidden" name="id" 
                    value=<%= bookinstance._id %> required="true">
                   </div>
                   <button type="submit" 
                     class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Delete</button>
                   </form>
                   </div>
                </div>
              </div>
          </section>
            </div>

        </main>
    </div>

    <% include partials/scripts.ejs %>

  </body>
</html>
