<!doctype html>
<html lang="en">
  <head>
  <title><%= bookinstance.book.title %></title>

<% include partials/head.ejs %>

  </head>

  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="bc-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

      <% include partials/topnav.ejs %>

      <% include partials/sidenavDefault.ejs %>

        <main class="mdl-layout__content mdl-color--grey-100">
         <div class="mdl-layout__tab-panel is-active" id="overview">
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col"><%= bookinstance.book.title %></h4>
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                  <div class="section__circle-container__circle mdl-color--primary"></div>
                </div>
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <p><a href=<%= bookinstance.book.url %> > By <%= bookinstance.book.title %></a></p>
                </div>
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                  <div class="section__circle-container__circle mdl-color--primary"></div>
                </div>
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                  <h5>Borrower</h5>
                  <p><a href=<%= bookinstance.imprint.url %> ><%= bookinstance.imprint.email %></a></p>
                </div>
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                  <div class="section__circle-container__circle mdl-color--primary"></div>
                </div>
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                  <h5>Status</h5>
                  <% if(bookinstance.status=='Available'){ %>
                    <p class="text-success"><%= bookinstance.status %></p>
                <% }else if(bookinstance.status=='Maintenance'){ %>
                    <p class="text-warning"><%= bookinstance.status %></p>
                <% }else{ %>
                    <p class="text-danger"><%= bookinstance.status %></p>
                 <% } %>
                 
                <% if(bookinstance.status!='Available'){ %>
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                  <div class="section__circle-container__circle mdl-color--primary"></div>
                </div>
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                  <h5>Due Date</h5>
                    <%= bookinstance.due_back_formatted %>
                </div>
                <% } %>

                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href=<%= bookinstance.url+'/delete' %>
                        >Delete</a>
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href=<%= bookinstance.url+'/update' %>
                        >Update</a>
                    </div>
                </div>

              </div>
          </section>
            </div>

        </main>
    </div>

    <% include partials/scripts.ejs %>

  </body>
</html>
